/*styling.css*/
/*add font family, background image*/
  
  /*Jumbotron*/
  .jumbotron {
    max-width: 1024px;
    background-color: white !important;
    margin: auto;
  }

  #site-main .jumbotron .box-nav > a{
    font-size: 1em;
    padding: .5em 2em;
  }

  #site-main .jumbotron form{
    margin: 2em 0;
  }
  
  /*map*/
  #googleMap {
    width: 80%;
    height: 400px;
    margin: 1em auto;
  }
  
  /*output box*/
  #output {
    text-align: center;
    font-size: 2em;
    margin: 2em auto;
  }
  
  